extends base

block title
  | My Tasks
  
block content
  - csrf_token
  article
    header
      h1 My Tasks
    
    p.new
      a(href!='{% url tasks:new %}') New Task
      
    ul.tasks
      for task in task_list
        li 
          p
            span.priority {{ task.get_priority_display }}
            span.description {{ task.description }}
          p.actions
            a(href!='{% url tasks:edit task.pk %}') Edit
            a(href!='{% url tasks:destroy task.pk %}', data-method='delete', data-confirm='Are you sure?') Delete