extends base

block title
  | New Task
  
block content
  article
    header
      h1 New Task
    
    form(action!='{% url tasks:create %}', method='post')
      - csrf_token
      {{ form.as_p }}
      button(type='submit') Create Task