extends base

block title
  | Edit {{ user.username }}
  
block content
  article
    header
      h1 Edit {{ user.username }}
    
    form(action!='{% url users:update user.username %}', method='post')
      {{ form.as_p }}
      button(type='submit') Submit