extends base

block title
  | New User

block content
  article
    header
      h1 New User
    
    form(action!='{% url users:create %}', method='post')
      - csrf_token
      {{ form.as_p }}
      button(type='submit') Submit